.card {
    margin: 2vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-nome {
    margin: 2vw;
    width: 40vw;
}

.input-tel {
    margin: 2vw;
    width: 20vw;
}

button {
    margin: 1vw;
}

table{
    width: 70vw;
}

.cabecalho-tabela{
    font-size: 14px;
    font-weight: bold;
}